
<section class="hero py-5">

<div class="container mx-auto flex items-center justify-between">

    <div class="w-1/2">
        <h6 class="text-3xl  "><em>Are you hungry?</em></h6>
        <h1 class="text-3xl md:text-6xl font-bold">Don't Wait ! </h1>
         <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
    </div>

    <div class="w-1/2">
        <img src="/images/hero.png"  alt="">
      
    </div>

</div>
</section>




<section class="menu container mx-auto py-5">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mb-20 ">
    <% pizzas.map(function(pizza) { %>
     <div class="w-full md:w-54">
            <img class="h-40 mb-4 mx-auto" src="/images/<%= pizza.image %>" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                <span class=" size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg">₹ <%= pizza.price %></span>
                <button data-pizza ="<%= JSON.stringify(pizza) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
                </div>
            </div>
        </div>
   <% }) %>
</div>
</section>





<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
               </div>
                </div>
                
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
 
                <div class="MD:col-lg-6 col-sm-5 text-center">
                    <p style="color:blueviolet ;"> <i class="icon_heart"></i>   &COPY;2021 All right reserved <a href="#" target="_blank">PIZZA-HUB</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>